<center><h1>TubeInsight: ChannelSphere Analytics</h1></center>
<center>
    <img src="https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500" alt="Youtube" style="width:500px;height:263px;">
</center>

## Objective of the study

Objective of this notebook is to perform an open ended study to understand top 1000 subscribed youtube channels at different perspectives.

## Why we need to analyse youtube channel data ?
1. **Trends and Strategies**: Examining these top channels helps identify emerging trends, content formats, and strategies that contribute to their success, allowing other creators and businesses to adapt and innovate in their own content production.

2. **Audience Behavior**: Understanding the demographic, geographic, and engagement patterns of these top channels' audiences provides key insights into viewer preferences, enabling creators to tailor their content to better resonate with their target audience.

3. **Monetization and Business Models**: Studying the monetization methods, sponsorships, merchandise, and partnerships pursued by top channels offers insights into diverse revenue streams, helping content creators and marketers formulate effective business models for sustainable growth and profitability.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
yt_df = pd.read_csv("/kaggle/input/global-youtube-statistics-2023/Global YouTube Statistics.csv", encoding="latin-1")

In [3]:
yt_df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [4]:
# Renaming columns
yt_df.rename(columns={
    'rank' : 'rank',
    'Youtuber' : 'youtuber',
    'subscribers' : 'subscribers', 
    'video views' :'video_views', 
    'category' : 'category', 
    'Title' : 'title',
    'uploads' : 'uploads', 
    'Country' : 'country', 
    'Abbreviation' : 'country_iso2', 
    'channel_type':'channel_type',
    'video_views_rank' : 'video_views_rank',
    'country_rank': 'country_rank',
    'channel_type_rank' : 'channel_type_rank',
    'video_views_for_the_last_30_days' : 'views_in_last_30_days',
    'lowest_monthly_earnings' : 'min_monthly_earnings',
    'highest_monthly_earnings' : 'max_monthly_earnings',
    'lowest_yearly_earnings' : 'min_yearly_earnings',
    'highest_yearly_earnings' : 'max_yearly_earnings',
    'subscribers_for_last_30_days' : 'subscribers_added_in_30_days',
    'created_year' : 'created_year',
    'created_month' : 'created_month',
    'created_date' : 'created_date',
    'Gross tertiary education enrollment (%)' : 'gross_tertiary_education_enrolment_perc',
    'Population' : 'population',
    'Unemployment rate' : 'unemployment_rate',
    'Urban_population' : 'urban_population',
    'Latitude' : 'latitude',
    'Longitude' : 'longitude'}, inplace=True)